@font-face {
  font-family: "Customfont";
  src: url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
  src: url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Satisfy&display=swap");
}

header {
  height: 150px;
  width: 100%;
  background-color: #2a76b6;
  border: solid #0f0f10;
  border-radius: 15px;
  box-shadow: 10px 12px #2a76b6;
}
#fotoheader{
  margin-top: 15px;
  margin-left: 0px;
}
h1 {
  font-size: 90px;
  font-style: oblique ;
  font-family: "Monotype Corsiva";
  margin-top: -110px;
  margin-left: 150px;
}

h2 {
  font-size: 30px;
  font-style: oblique;
  font-family: "Arial Narrow";
  float: right;
  margin-top: -90px;
  margin-left: 10px;
}

h4 {
  font-size: 19px;
  font-style: inherit;
  float: left;
  margin-top: -65px;
  margin-left: 65px;
}

#textosup {
  margin-top: 40px;
}

div p{
    font-family: "Copperplate Gothic Bold";
    font-size: 20px;
    font-style: italic;
    padding-inline: 50px;
}

p {
    font-style: italic;
    font-size: 20px;
  float: left;

}
body{
  background: linear-gradient(to right, #a6c2e8, #b2cdf8, #8fb2f3, #2a76b6);
  overflow-y: hidden;
  overflow-x: hidden ;
}

table {
  position: absolute;
  left: 50px;
  top: 300px;
  text-align: left;
  width: 40%;
  height: 30%;
  font-family: Customfont, Satisfy, cursive;
}

table thead{
  text-align: center;
}
table tbody {
  text-align: center;
  padding: 20px;
}

table, tr, td, th{
  border: 1px solid #000000;
}

figure{
  position: absolute;
  left: 900px;
}

#textimg{
  font-family: "Monotype Corsiva";
  font-size: 30px;
  text-align: center;
}

aside{
  float: right;
  margin-right: 10px;
  margin-top: 100px;
  text-align: center;
  font-family: "Arial Rounded MT Bold";
  border: solid #0f0f10;
  height: 400px;
  width: 350px;
}

#Carreras{
  border-radius: 10px;
  display:block;
  padding: 5px 10px;
  margin:10px auto;
  min-width: 225px;
  -webkit-appearance: none;
  height: 34px;
}

#Año{
  border-radius: 10px;
  display:block;
  padding: 5px 10px;
  margin:10px auto;
  min-width: 225px;
  -webkit-appearance: none;
  height: 34px;
}
#nombre{
  border-radius: 10px;
  display:block;
  padding: 5px 10px;
  margin:10px auto;
  min-width: 100px;
  -webkit-appearance: none;
  height: 19px;
}
aside button{
  border-radius: 10px;
  display:block;
  padding: 5px 10px;
  margin:30px auto;
  min-width: 75px;
  -webkit-appearance: none;
  height: 34px;
}

footer{
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #2a76b6;
  border: solid #0f0f10;
  border-radius: 15px;
  box-shadow: 10px 12px #2a76b6;
}

footer h4{
  font-style: italic;
  position: absolute;
  left: -20px;
  bottom: 50px
}
footer .whatsapp {
  position: absolute;
  bottom:  -5px;
  left: 150px;

}
.whatsapp img{
  position: absolute;
  left: -10px;
}
footer .gmail {
  position: absolute;
  bottom:  00px;
  right: 200px;
}
.gmail img{
  position: absolute;
  right: 290px;
  bottom: 15px;

}

footer .twitter {
  position: absolute;
  bottom:  00px;
  left: 800px;
}
.twitter img{
  position: absolute;
  right: 150px;

}

