header {
  height: 150px;
  width: 100%;
  background-color: #2a76b6;
  border: solid #0f0f10;
  border-radius: 15px;
  box-shadow: 10px 12px #2a76b6;
}

#fotoheader {
  margin-top: 15px;
  margin-left: 0;
}

h1 {
  font-size: 90px;
  font-style: oblique;
  font-family: "Monotype Corsiva";
  margin-top: -110px;
  margin-left: 150px;
}

h2 {
  font-size: 30px;
  font-style: oblique;
  font-family: "Arial Narrow";
  float: right;
  margin-top: -90px;
  margin-left: 10px;
}

h4 {
  font-size: 19px;
  font-style: inherit;
  float: left;
  margin-top: -65px;
  margin-left: 65px;
}


#nombremateria {
  text-align: center;
  position: relative;
  bottom: 70px;
  font-family: "Bodoni MT";
  font-style: oblique;
}

body {
  background: linear-gradient(to right, #a6c2e8, #b2cdf8, #8fb2f3, #2a76b6);
  overflow-y: hidden;
  overflow-x: hidden;
}


.objetivos {
  float: left;
  margin-top: 30px;
  font-style: oblique;
}

.obj {
  position: relative;
  margin-top: 70px;
  margin-left: 100px;
  width: 50%;
}

.evaluacionam {
  float: left;
  margin-top: 00px;
  font-style: oblique;
}

.evalam {
  position: relative;
  margin-top: 40px;
  margin-left: 110px;
  width: 50%;
}

.video {
  float: right;
  width: 40%;
  margin-top: -230px;
  right: 60px;
  text-align: center;
}

iframe {
  margin: 15px;
}

.unidad {
  float: left;
  margin-left: 20px;
  margin-top: -40px;
  font-style: oblique;
}

.uni {
  position: relative;
  margin-top: 70px;
  margin-left: 40px;
}

.condicion {
  margin-left: 20px;
  margin-top: 0;

}

.condic {
  width: 35%;
}

.introduccion {
  float: left;
  position: relative;
  margin-top: -40px;
  font-style: oblique;
  margin-left: 25px;

}

.intro {
  margin-left: 50px;
  margin-top: 100px;
  width: 50%;
}

.evaluacion {
  float: left;
  position: relative;
  margin-top: 10px;
  margin-left: 25px;

}

.eval {
  margin-left: 50px;
  margin-top: 70px;
  width: 50%;
}

#videodif {
  float: right;
  position: absolute;
  right: 100px;
  top: 300px;
  text-align: center;
}


.foto {
  float: right;
}

.pAM2 {
  text-align: left;
  margin-top: 50px;
  width: 50%;
  margin-left: 25px;
}

#nombre {
  position: relative;
  top: 85px;
  right: 35px;
  font-style: italic;
}

#ejesquimica {
  float: left;
  margin-top: 25px;
}

.ejes {
  margin-top: 65px;
  margin-left: 25px;
  font-style: oblique;
}

.secquimica {
  margin-left: 15px;
}

#metquimica {
  width: 70%;
}

#fotoquimica {
  float: right;
  position: relative;
  bottom: 90px;
}

#p3 {
  float: left;
  position: relative;
  top: 95px
}

footer {
  height: 100px;
  width: 1900px;
  position: absolute;
  bottom: 0;
  background-color: #2a76b6;
  border: solid #0f0f10;
  border-radius: 15px;
  box-shadow: 10px 12px #2a76b6;
}

footer h4 {
  font-style: italic;
  position: absolute;
  left: -20px;
  bottom: 50px
}

footer .whatsapp {
  position: absolute;
  bottom: 00px;
  left: 150px;
}

.whatsapp img {
  position: relative;
  bottom: -60px;
  left: -70px;
}

footer .gmail {
  position: absolute;
  bottom: 0;
  right: 200px;
}

.gmail img {
  position: relative;
  bottom: -60px;
  right: 70px;
}


footer .twitter {
  position: absolute;
  bottom: 0;
  left: 800px;
}

.twitter img {
  position: relative;
  bottom: -60px;
  right: 55px
}





