header {
  height: 150px;
  width: 1900px;
  background-color: #2a76b6;
  border: solid #0f0f10;
  border-radius: 15px;
  box-shadow: 10px 12px #2a76b6;
}

h1 {
  font-size: 80px;
  font-style: oblique;
  margin-top: -90px;
  margin-left: 150px;
}

h2 {
  font-size: 30px;
  font-style: oblique;
  float: right;
  margin-top: -60px;

}

h4 {
  font-size: 19px;
  font-style: normal;
  float: left;
  margin-top: -56px;
  margin-left: 40px;


}
body{
  background: linear-gradient(to right, #dee6ef, #c9d9f8);

}


.objetivos{
  float: left;
  margin-top: 30px;
  font-style: oblique;
}

.obj{
  position: relative;
  margin-top: 70px;
  margin-left: 100px;
  width: 50%;
}

.evaluacionam{
  float: left;
  margin-top: 00px;
  font-style: oblique;
}
.evalam{
  position: relative;
  margin-top: 40px;
  margin-left: 110px;
  width: 50%;
}

.video{
  float: right;
  width: 40%;
  margin-top: -230px;
  right: 60px;

}


.unidad{
  float: left;
  margin-left: 20px;
  margin-top: -40;
  font-style: oblique;
}

.uni{
  position: relative;
  margin-top: 70px;
  margin-left: 100px;
}

.condicion{
  margin-left: 20px;
  margin-top: 0px;

}

.condic{
  width: 35%;
}

.introduccion{
  float: left;
  position: relative;
  margin-top: -40px;
  font-style: oblique;
  margin-left: 25px;

}

.intro{
  margin-left: 50px;
  margin-top: 100px;
  width: 50%;
}

.evaluacion{
  float: left;
  position: relative;
  margin-top: 10px;
  margin-left: 25px;

}

.eval{
  margin-left: 50px;
  margin-top: 70px;
  width: 50%;
}

#videodif{
  float: right;
  position: absolute;
  right: 100px;
  top: 300px;
}


.am2{
  width: 70%;
  margin-left: 50px;
}

footer{
  height: 100px;
  width: 1900px;
  position: absolute;
  bottom: 0px;
  background-color: #2a76b6;
  border: solid #0f0f10;
  border-radius: 15px;
  box-shadow: 10px 12px #2a76b6;
}

footer h4{
  font-style: italic;
  position: absolute;
  left: -20px;
  bottom: 50px
}
footer .whatsapp {
  position: absolute;
  bottom:  00px;
  left: 150px;
}
.whatsapp img{
  position: relative;
  bottom: -60px;
  left: -70px;
}
footer .gmail {
  position: absolute;
  bottom:  0px;
  right: 200px;
}
.gmail img{
  position: relative;
  bottom: -60px;
  right: 70px;
}


footer .twitter {
  position: absolute;
  bottom:  0px;
  left: 800px;
}

.twitter img {
  position: relative;
  bottom: -60px;
  right: 55px
}





